/*
    Defines fonts & styles.
*/

@font-face {
    font-family: "Roboto Slab";
    src: url("RobotoSlabVariable.ttf");
}

@font-face {
    font-family: "Source Pro";
    src: url("SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: "Source Pro";
    font-weight: bold;
    src: url("SourceSansPro-Bold.ttf");
}

@font-face {
    font-family: "Source Pro";
    font-style: italic;
    src: url("SourceSansPro-Italic.ttf");
}

body {
    width: 100vw;
    margin: 0;
    font-family: "Roboto Slab";
    background-color: wheat;
}